<%= form_with(model: types_test, local: true) do |form| %>
  <% if types_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(types_test.errors.count, "error") %> prohibited this types_test from being saved:</h2>

      <ul>
      <% types_test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
