<p id="notice"><%= notice %></p>

<h1>Types Tests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @types_tests.each do |types_test| %>
      <tr>
        <td><%= types_test.name %></td>
        <td><%= link_to 'Show', types_test %></td>
        <td><%= link_to 'Edit', edit_types_test_path(types_test) %></td>
        <td><%= link_to 'Destroy', types_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Types Test', new_types_test_path %>
