<%= form_with(model: answers_t, local: true) do |form| %>
  <% if answers_t.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answers_t.errors.count, "error") %> prohibited this answers_t from being saved:</h2>

      <ul>
      <% answers_t.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
  <%= form.label :question %>
  <%= form.collection_select :questions_id, Question.all, :id , :name %>
  </div>

  <div class="field">
  <%= form.label :answer %>
  <%= form.collection_select :answers_ws_id, AnswersW.all, :id , :name %>
  </div>
  
  <div class="field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="field">
<%= form.label :answer %>
<%= form.collection_select :users_id, User.all, :id , :email %>
</div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
