<p id="notice"><%= notice %></p>

<h1>Answers Ts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Right t</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answers_ts.each do |answers_t| %>
      <tr>
        <td><%= answers_t.name %></td>
        <td><%= answers_t.right_t %></td>
        <% @cname = User.find_by id: answers_t.users_id.to_i  %>
        <td><%= @cname.blank? ?  nil : @cname.email %></td>
        <% @cname = AnswersW.find_by id: answers_t.answers_ws_id.to_i  %>
        <td><%= @cname.blank? ?  nil : @cname.name %></td>
        <% @cname = Test.find_by id: answers_t.tests_id.to_i  %>
        <td><%= @cname.blank? ?  nil : @cname.name %></td>
        <% @cname = Question.find_by id: answers_t.questions_id.to_i  %>
        <td><%= @cname.blank? ?  nil : @cname.name %></td>
        <td><%= link_to 'Show', answers_t %></td>
        <td><%= link_to 'Edit', edit_answers_t_path(answers_t) %></td>
        <td><%= link_to 'Destroy', answers_t, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Answers T', new_answers_t_path %>
