<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @answers_t.name %>
</p>

<p>
  <strong>Right t:</strong>
  <%= @answers_t.right_t %>
</p>


<%= link_to 'Edit', edit_answers_t_path(@answers_t) %> |
<%= link_to 'Back', answers_ts_path %>
