<div class="menu">
<%= link_to "Home", root_path %> 
<%=link_to "Тесты", tests_path %> 
<%= link_to 'Курсы', controller: 'courses' %> 
<%= link_to 'Вопросы', controller: 'questions' %> 
<%= link_to 'Типы тестов', controller: 'types_tests' %>
<%= link_to 'Типы вопросов', controller: 'typesquestions' %>
<%= link_to 'Ответы', controller: 'answers_ws' %>
<%= link_to 'Роли', controller: 'roles' %>
<%= link_to 'Юзеры', controller: 'users' %>
<%= link_to 'Тесты юзера', controller: 'users_tests' %>
<%= link_to 'Ответы юзеров' , controller: 'answers_ts' %>

</div>
