<div class="menu">
<%= link_to "Home", root_path %> 
<%= link_to 'Вопросы', controller: 'questions' %> 
<%= link_to 'Ответы', controller: 'answers_ws' %>
<%= link_to 'Тесты юзера', controller: 'users_tests' %>

</div>
