<!DOCTYPE html>
<html>
  <head>
    <title>Costructor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  
<% if user_signed_in? %>
<nav class="navbar navbar-default">

  <div class="container-fluid">

    <div class="navbar-header">
     
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-main">

  
    <% if  current_user.role == 'admin' %>
    <%= render 'layouts/adminmenu' %>
    <% end %>

      
    <% if  current_user.role == 'user' %>
    <%= render 'layouts/usermenu' %>
    <% end %>

    
    <% if  current_user.role == 'autor' %>
    <%= render 'layouts/author' %>
    <% end %>

    </div>
</div>
</nav>

<div class="authform">
<span>Здравствуйте, <%= current_user.email %></span>
<%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
</div>

<% else %>
<div class="authform">
<%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_path %>
</div>
<% end %>


    <%= yield %>
  </body>
</html>
