<%= form_with(model: typesquestion, local: true) do |form| %>
  <% if typesquestion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(typesquestion.errors.count, "error") %> prohibited this typesquestion from being saved:</h2>

      <ul>
      <% typesquestion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
