<p id="notice"><%= notice %></p>

<h1>Typesquestions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @typesquestions.each do |typesquestion| %>
      <tr>
        <td><%= typesquestion.name %></td>
        <td><%= link_to 'Show', typesquestion %></td>
        <td><%= link_to 'Edit', edit_typesquestion_path(typesquestion) %></td>
        <td><%= link_to 'Destroy', typesquestion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Typesquestion', new_typesquestion_path %>
