<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @typesquestion.name %>
</p>

<%= link_to 'Edit', edit_typesquestion_path(@typesquestion) %> |
<%= link_to 'Back', typesquestions_path %>
