<h1>Editing User</h1>

<%= form_for @user, url: registration_path(@user)  do |form| %>


        <div class="field">
        <%= form.label :email %><br />
        <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      
      <div class="field">
        <%= form.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= form.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
<%= form.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
</div>
      
        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>

