<%= form_with(model: users_test, local: true) do |form| %>
  <% if users_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(users_test.errors.count, "error") %> prohibited this users_test from being saved:</h2>

      <ul>
      <% users_test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
  <%= form.label :User %>
  <%= form.collection_select :users_id, User.all, :id , :login %>
  </div>

  <div class="field">
  <%= form.label :Test %>
  <%= form.collection_select :tests_id, Test.all, :id , :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
