<p id="notice"><%= notice %></p>

<h1>Users Tests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_tests.each do |users_test| %>
      <% @cname = User.find_by id: users_test.users_id.to_i  %>
      <td><%= @cname.blank? ?  nil : @cname.login %></td>
      <% @cname = Test.find_by id: users_test.tests_id.to_i  %>
      <td><%= @cname.blank? ?  nil : @cname.name %></td>
        <td><%= link_to 'Show', users_test %></td>
        <td><%= link_to 'Edit', edit_users_test_path(users_test) %></td>
        <td><%= link_to 'Destroy', users_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

    <% if  current_user.role != 'user' %>
<%= link_to 'New Users Test', new_users_test_path %>
    <% end %>


