// Place all the styles related to the Tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-left: 1%;
    padding-right: 1%;
  }

  /* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
  }
  
  footer a {
    color: #555;
  }
  
  footer a:hover {
    color: #222;
  }
  
  footer small {
    float: left;
  }
  
  footer ul {
    float: right;
    list-style: none;
  }
  
  footer ul li {
    float: left;
    margin-left: 15px;
  }

  .menu{
    float:left;
   }
   .menu{
    margin: 2em 0.5em;
   }
 
   .menu {
    display:inline-block;
   }
   a{
    color:#0b0c52;
    font-weight:400;
    padding:0.5em 0.5em;
    text-decoration:none;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    letter-spacing: 0.1em;
   }
   a:hover{
    color:#E74C3C;
    background: greenyellow;
   }

  button, input[type="button"], input[type="submit"] {
    color: white;
    padding: .8em 1em;
    background: rgb(25, 119, 72);
    margin: 0.5em;
  } 
  button:hover, input[type="button"]:hover, input[type="submit"]:hover { background: rgb(53, 167, 110); }
  button:active, input[type="button"]:active, input[type="submit"]:active {
    background: rgb(10, 48, 29);
    box-shadow: 0 3px rgb(33,147,90) inset;
  }
label{
    display: block;
}
   table { 
    width: 80%; /* Ширина таблицы */
    border: 4px double black; /* Рамка вокруг таблицы */
    border-collapse: collapse; /* Отображать только одинарные линии */
   }
   th { 
    text-align: left; /* Выравнивание по левому краю */
    background: #ccc; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
   }
   td { 
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
   }  
