<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Inf:</strong>
  <%= @course.inf %>
</p>

<p>
  <strong>Id of par:</strong>
  <%= @course.Course %>
</p>


    <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td>Наименование теста: <%= test.name %>
        <%= link_to 'Show',     "/showTestsToUser/#{test.id }"%> </td></br>
      </tr>
    <% end %>
      </tbody>
<%= link_to 'Edit', :action => "edit", :controller => "courses" %> |
<%= link_to 'Back', courses_path %>
