<%= form_with(model: test, local: true) do |form| %>
  <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>


  <div class="field">
  <%= form.label :course %>
  <%= form.select :courses_id , @id_of_course.collect {|c| [ c.name, c.id ] }%>
  </div>
  
  <div class="field">
    <%= form.label :inf %>
    <%= form.text_field :inf %>
  </div>

  <div class="field">
    <%= form.label :quest %>
    <%= check_box_tag(:quest) %>
  </div>

  <div class="field">
  <%= form.label :types_tests %>
  <%= form.select :types_tests_id, @types_tests.collect {|c| [ c.name, c.id ] }%>
  </div>
<div id="list">

  <%-# form.fields_for(:questions) do |f| %>
    <%-# f.label :name %>
    <%-# f.text_field :name %>
    <div class="field">
    <%-# f.label :type_of_question %>
    <%-# f.collection_select :typesquestions_id, Typesquestion.all, :id , :name %>
    
  </div>
    <div class="field">
    <%-# f.label :variants_id %>
    <%-# f.collection_select :variants_id, Variant.all, :id , :name %>
    
    </div>
    

    
    <%-# f.fields_for(:answers_ws) do |an| %>
      <%-# an.label :name %>
      <%-# an.text_field :name %>
      <div class="field">
      <%-# an.label :right %>
      <%-# check_box_tag(:right) %> 
      </div>
      <%-# end %>

  <%-# end %>
  </div>
  <!---button onclick="add_input(event)"%>Добавить вопрос</button>-->
  <input type="button" name="" onclick="add_input(event);" value="Добавить вопрос"/>
  <div class="actions">
  <%= form.submit %>
</div>

<% end %>
