<p id="notice"><%= notice %></p>

<h1>Tests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Id of course</th>
      <th>Inf</th>
      <th>Quest</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.name %></td>
        <% @cname = Course.find_by id: test.courses_id.to_i  %>
        <td><%= @cname.blank? ?  nil : @cname.name %></td>
        <td><%= test.inf %></td>
        <td><%= test.quest %></td>
        <% @cname = TypesTest.find_by id: test.types_tests_id.to_i  %>
        <td><%= @cname.blank? ?  nil : @cname.name %></td>
        <td><%= link_to 'Show', test_path(test.id) %></td>
                <% if  current_user.role != 'user' %>
        <td><%= link_to 'Edit', edit_test_path(test) %></td>
        <td><%= link_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
           <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


        <% if  current_user.role != 'user' %>
    <%= link_to 'New Test', new_test_path %>
    <% end %>

