<p id="notice"><%= notice %></p>

<p>
  <strong>ggggName:</strong>
  <%= @test.name %>
</p>

<p>
  <strong>Id of course:</strong>
  <%= @test.courses_id %>
</p>

<p>
  <strong>Inf:</strong>
  <%= @test.inf %>
</p>

<p>
  <strong>Quest:</strong>
  <%= @test.quest %>
</p>

<p>
  <strong>Type:</strong>
  <%= @test.types_test.name %>
</p>

Вопросы

<table border="1">
  <thead>
    <tr>
      <th>Вопрос</th>
      <th>Вариант ответа</th>
      <th>Выбор ответа</th>
  </thead>
    <tbody>
    <% @questions.each do |test| %>
      <tr>
        <td rowspan='<%= @answers.where(:question_id => test.id).count+1 %>'><%= test.name %></td>
        </tr>
    
 <% @answers.where(:question_id => test.id).each do |answ| %>

           <tr><td> <%= answ.name %></td>    <td><input type="checkbox" name='<%=test.id %>'></td><br></tr>

        <% end %>
      
    <% end %>
      </tbody>
</table>



<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
