<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test.name %>
</p>

<p>
  <strong>Id of course:</strong>
  <%= @test.courses_id %>
</p>

<p>
  <strong>Inf:</strong>
  <%= @test.inf %>
</p>

<p>
  <strong>Quest:</strong>
  <%= @test.quest %>
</p>

<p>
  <strong>Type:</strong>
  <%= @test.types_test.name %>
</p>

Вопросы

<table>
  <thead>
    <tr>
      <th>Вопрос</th>
      <th>Вариант ответа</th>
  </thead>
    <tbody>
    <% @questions.each do |test| %>
      <tr>
        <td><%= test.name %></td>
        <td>
        <% @answers.where(:question_id => test.id).each do |answ| %>

            <%= answ.name %><%= answ.right %><br>

        <% end %>
        </td>
      </tr>
    <% end %>
      </tbody>
</table>



<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
