<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :type_of_question %>
    <%= form.collection_select :typesquestions_id, Typesquestion.all, :id , :name %>
  </div>

  <div class="field">
  <%= form.label :test_id %>
  <%= form.collection_select :test_id, Test.all, :id , :name %>
  </div>

  <div class="field">
  <%= form.label :variants_id %>
  <%= form.collection_select :variants_id, Variant.all, :id , :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
