<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type of question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.name %></td>
        <% @cname = Typesquestion.find_by id: question.typesquestions_id.to_i  %>
        <td><%= @cname.blank? ?  nil : @cname.name %></td>
        <% @cname = Variant.find_by id: question.variants_id.to_i  %>
        <td><%= @cname.blank? ?  nil : @cname.name %></td>
        <% @cname = Test.find_by id: question.test_id.to_i  %>
        <td><%= @cname.blank? ?  nil : @cname.name %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
