<%= form_with(model: answers_w, local: true) do |form| %>
  <% if answers_w.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answers_w.errors.count, "error") %> prohibited this answers_w from being saved:</h2>

      <ul>
      <% answers_w.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :right %>
    <%= form.check_box :right %>
  </div>

  <div class="field">
  <%= form.label :questions %>
  <%= form.collection_select :questions_id, Question.all, :id , :name %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
