<p id="notice"><%= notice %></p>

<h1>Answers Ws</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Right</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answers_ws.each do |answers_w| %>
      <tr>
        <td><%= answers_w.name %></td>
        <td><%= answers_w.right %></td>
        <% @cname = Question.find_by id: answers_w.question_id.to_i  %>
        <td><%= @cname.blank? ?  nil : @cname.name %></td>
        <td><%= link_to 'Show', answers_w %></td>
        <td><%= link_to 'Edit', edit_answers_w_path(answers_w) %></td>
        <td><%= link_to 'Destroy', answers_w, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Answers W', new_answers_w_path %>
