<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @answers_w.name %>
</p>

<p>
  <strong>Right:</strong>
  <%= @answers_w.right %>
</p>

<%= link_to 'Edit', edit_answers_w_path(@answers_w) %> |
<%= link_to 'Back', answers_ws_path %>
